body {
    margin: 0;
}

/* Navbar */
.navBar {
    position: fixed;
    width: 100vw;
    background-color:  #44bba4;
    margin-top: 0px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 2vw;
}
.navHeader {
    margin: 0;
    width: 20vh;
    font-size: 30px;
}
.navLinks {
    display: inline-flex;
    padding-left: 0;
    font-size: 20px;
}
.navLinks > * {
    list-style: none;
    margin-left: 2vw;
    margin-right: 2vw;
}

.navLinks > li > a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid;
    padding-bottom: 2px;
    transition: 0.5s;
}
.navLinks > li > a:hover {
    color: #D3D0Cb;
}

/* @media (500px) {
    
} */